azure-identity>=1.16.0
azure-mgmt-resource>=23.0.0
azure-mgmt-storage>=21.0.0
azure-mgmt-compute>=30.0.0
azure-mgmt-keyvault>=9.0.0
azure-mgmt-network>=25.0.0
azure-mgmt-containerinstance>=10.0.0
openpyxl>=3.1.2
requests>=2.31.0
azure-storage-blob>=12.20.0